<!DOCTYPE html>
<html ng-app="querybuilder">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QueryBuilder</title>
    <!--Stylesheets-->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/public/css/jquery.qtip.css">
    <link rel="stylesheet" href="/public/css/select2.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">
    <!--Scripts-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.18.0/ramda.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash-compat/3.10.1/lodash.min.js"></script>
    <script type="text/javascript" src="/bundle.js"></script>
    <script type="text/javascript" src="/public/libs/select2.full.min.js"></script>
    <script type="text/javascript" src="/public/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/js/csbscript.js"></script>

</head>
<body>
<header class="top-header-layout">
    <div class="inner-content">
        <div class="logo">
            <a href="/">
                <img src="public/images/logo_white.png" title="Built.io Contentstack" class="normal">
            </a>
            <span> | Query Builder</span>
        </div>
        <div class="edit-stack">
            <!--Button to Trigger Modal-->
            <a href="#" id="btnShow" class="button">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <span>Edit Stack</span>
            </a>
        </div>
        <!-- Modal -->
        <div class="modal fade editModal" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Edit Stack</h4>
                    </div>
                    <div class="modal-body">
                        <div class="query-login-page" data-ng-controller="LoginController">
                            <div ui-view id="view" class="login-page" ng-class="{'loader-mask': loader}">
                                <div class="overlay">
                                    <div class="overlay-content">
                                        <div id="loader-wrapper">
                                            <div id="loader" data-ng-if="loader" ng-cloak></div>
                                        </div>
                                    </div>
                                </div>
                                <form class="form-group">
                                    <div class="row-centered">
                                        <div class="col-centered">
                                            <label>API Key:</label>
                                            <input type="text" placeholder="Stack's API Key" data-ng-model="apiKey" class="form-control">
                                        </div>
                                        <div class="col-centered">
                                            <label>Access Token:</label>
                                            <input type="text" placeholder="Access Token" data-ng-model="accessToken" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row-centered">
                                        <div class="button-sec">
                                            <button class="btn-success fetch-button" data-ng-click="getData(host, apiKey, accessToken)">Load
                                                Stack
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--<div class="modal-footer">-->
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container query-builder-page" data-ng-controller="QueryBuilderController">
    <div ui-view id="view" ng-class="{'loader-overlay': loader}">
        <div class="overlay">
            <div class="overlay-content">
                <div id="loader-wrapper">
                    <!-- ngIf: loader -->
                    <div id="loader" data-ng-if="loader" class="ng-scope"></div>
                    <!-- end ngIf: loader -->
                </div>
            </div>
        </div>
        <div class="modal-body content" ng-cloak>
            <div class="content-env-sec">
                <div class="col-sm-3 styled-select">
                    <label>Selected Stack</label>
                    <div class="stack">
                        {{stack | uppercase}}
                    </div>
                </div>
                <div class="col-sm-3 styled-select">
                    <label>Select your Locale</label>
                    <select data-ng-model="localeObject.code"
                            data-ng-options="locale.code for locale in locales track by locale.code"
                            id="locale" class="js-example-basic-single">
                        <option selected="selected"></option>
                    </select>
                </div>
                <div class="col-sm-3 styled-select">
                    <label>Select your Environment</label>
                    <select data-ng-model="environmentObject.name"
                            data-ng-options="environment.name for environment in environments track by environment.name"
                            id="env" class="js-example-basic-single">
                            <option selected="selected"></option>
                    </select>
                </div>
                <div class="col-sm-3 styled-select">
                    <label>Select your Content Type</label>
                    <select data-ng-model="contentTypeObject"
                            data-ng-options="contentType.title for contentType in contentTypes track by contentType.uid"
                            data-ng-change="getFields(contentTypeObject)" class="js-example-basic-single">
                            <option selected="selected"></option>
                    </select>
                </div>
                <button id="showQuery" style="display:none;" data-ng-click="showQueryBuilder()"></button>
            </div>
        </div>
    </div>

    <div ng-if="show" ng-cloak>
        <div objects-query-builder="intermediateQuery" cls="fields" get-query-now="getQueryNow"
             get-query-callback="getQueryCallback" api-key="apiKey" access-token="accessToken" api-host="apiHost"
             prefix="prefix" class="qb-responsive ng-isolate-scope">
        </div>
        <div class="run-btn">
            <button ng-click="getQuery()">Run</button>
        </div>
        <div class="result">
            <div class="request" data-ng-if="showRequest">
                <div class="rquest-url">
                    <strong>Request URL :</strong>
                    <div id="requestUrl">
                        <div class="url-query">{{reqUrl}}
                        </div>
                        <button class="btn" type="button" ngclipboard ngclipboard-success="onSuccess(e);" ngclipboard-error="onError(e);" data-clipboard-target="#requestUrl">
                            <img src="public/images/clippy.svg" width="13" alt="Copy to clipboard">
                        </button>
                    </div>
                </div>
                <div class="rquest-header">
                    <strong>Request Header : </strong>
                    <pre><code>{{ headers | json }}</code></pre>
                </div>
            </div>
            <div class="response" data-ng-if="result">
                <strong>Response:</strong>
                <pre><code>{{ result | json }}</code></pre>
                <div class="response-header">
                    <strong>Response Header : </strong>
                    <pre><code>{{ resHeaders | json }}</code></pre>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="js-datepicker-wrap"></div>
</body>

<!-- <script src="/js/qb-bundle.min.js"></script>
<script src="/js/index.js" type="text/javascript"></script> -->
</html>