*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -ms-box-sizing: inherit;
  box-sizing: inherit;
}
*:focus {
  outline: none !important;
  box-shadow: none !important;
}
textarea:focus,
input:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}
a:focus {
  outline: none !important;
  box-shadow: none !important;
}
body {
  color: #FDFCFB !important;
  -webkit-font-smoothing: antialiased;
}
body .select2-drop-active {
  border-bottom: solid 1px #009688;
  border-left: solid 1px #009688;
  border-right: solid 1px #009688;
  border-top: solid 1px #ccc;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding-top: 0;
}
body .select2-drop-active.select2-with-searchbox {
  padding-top: 12px;
}
body .select2-drop.select2-drop-above {
  border-top: solid 1px #009688;
}
body .select2-drop.select2-drop-above.select2-drop-active {
  border-top-width: 1px;
}
.wrapper {
  width: 900px;
  margin: auto;
}
.stack {
  color: #333;
  margin-top: 5px;
  font-size: 18px;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
}
.fetch-button {
  margin-top: 25px;
}
.loader {
  position: absolute;
  bottom: -56px;
  left: 50%;
  border: 10px solid #f3f3f3;
  /* Light grey */
  border-top: 10px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  z-index: 1000;
}
.ref-loader-nw {
  position: absolute;
  bottom: -15px;
  left: 50%;
  border: 10px solid #f3f3f3;
  /* Light grey */
  border-top: 10px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  z-index: 1000;
}
.query-loader {
  bottom: -40px;
}
.submit-button {
  margin-left: 400px;
  margin-top: 15px;
}
.entries-query-builder {
  width: 250px;
  padding-top: 20px;
  padding-left: 32px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
::selection {
  background-color: #f5f5f5 !important;
  color: #4f6471 !important;
}
/**New Styles**/
.top-header-layout {
  background: #00838f;
}
.top-header-layout .inner-content {
  max-width: 1328px;
  margin: 0 auto;
  padding: 15px;
  overflow: hidden;
  box-sizing: border-box;
}
.top-header-layout .inner-content .logo {
  float: left;
  margin-top: 10px;
}
.top-header-layout .inner-content .logo img {
  margin-top: -13px;
}
.top-header-layout .inner-content .logo span {
  display: inline-block;
  margin-top: -8px;
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
}
@media (max-width: 767px) {
  .top-header-layout .inner-content .logo {
    float: none;
    text-align: center;
  }
}
.top-header-layout .inner-content .head-title {
  float: right;
}
@media (max-width: 767px) {
  .top-header-layout .inner-content .head-title {
    float: none;
    text-align: center;
    margin: 20px 0 0;
  }
}
.top-header-layout .inner-content .head-title h2 {
  margin: 0;
}
.query-login-page {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .query-login-page {
    width: 600px !important;
  }
}
@media (max-width: 767px) {
  .query-login-page {
    width: 350px !important;
    margin: 0 15px;
  }
}
.query-login-page .login-page.loader-mask .overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(211, 211, 211, 0.6);
  border-radius: 5px;
}
.query-login-page .login-page.loader-mask .overlay .overlay-content {
  position: absolute;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  color: #555;
}
.query-login-page .login-page.loader-mask .overlay .overlay-content #loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.query-login-page .login-page.loader-mask .overlay .overlay-content #loader-wrapper #loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
.query-login-page .login-page.loader-mask .overlay .overlay-content #loader-wrapper #loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
.query-login-page .login-page.loader-mask .overlay .overlay-content #loader-wrapper #loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
.query-login-page #view {
  position: relative;
}
.query-login-page .login-page {
  background-color: rgba(128, 222, 234, 0.3);
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  border-radius: 5px;
}
.query-login-page .login-page .row-centered .col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin: 0 0 20px;
}
@media (max-width: 767px) {
  .query-login-page .login-page .row-centered .col-centered {
    text-align: center;
  }
}
.query-login-page .login-page .row-centered .col-centered:last-child {
  margin-bottom: 0;
}
.query-login-page .login-page .row-centered .col-centered.button-sec {
  width: 22%;
}
@media (max-width: 767px) {
  .query-login-page .login-page .row-centered .col-centered.button-sec {
    width: 40%;
  }
}
.query-login-page .login-page .row-centered .col-centered label {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}
.query-login-page .login-page .row-centered .col-centered .form-control {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
  height: 45px;
  background: #f5f5f5;
  color: #333;
  letter-spacing: 1px;
  text-indent: 0%;
  border-radius: 5px !important;
  border: 1px solid #ccc;
}
.query-login-page .login-page .row-centered .col-centered .form-control::selection {
  background-color: #f5f5f5 !important;
  color: #4f6471 !important;
}
.query-login-page .login-page .row-centered .col-centered .btn-success {
  font-weight: bold;
  width: 100%;
  background: rgba(24, 26, 27, 0.84);
  border: none;
  outline: none;
  font-size: 15px;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0 0;
}
.query-login-page .login-page .row-centered .col-centered .btn-success:active {
  background: #e64b50;
}
.query-login-page .login-page .row-centered .col-centered .btn-success:hover {
  background: #e64b50;
}
.query-login-page .login-page .row-centered .col-centered .btn-success:active:before {
  background: #e64b50;
}
@media (max-width: 767px) {
  .query-login-page .login-page .row-centered .col-centered .btn-success {
    margin: 25px 0 0;
  }
}
/*Second page*/
.query-builder-page {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 768px) {
  .query-builder-page.container {
    max-width: 1024px;
    width: 100%;
  }
}
@media (max-width: 865px) {
  .query-builder-page.container {
    max-width: 1024px;
    width: 100%;
  }
}
.query-builder-page header .header h2 {
  color: #4f6471;
  font-size: 36px;
  line-height: 1;
}
.query-builder-page .stack-name {
  text-align: center;
  background-color: #00838f;
  overflow: auto;
  max-width: 220px;
  width: 100%;
  margin: 20px auto 0;
  padding: 20px;
  border-radius: 5px;
}
.query-builder-page .stack-name strong {
  color: #1894ca;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}
.query-builder-page .stack-name .stack {
  /* margin-top: 0; */
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
  line-height: 20px;
  margin: 0;
}
.query-builder-page .content {
  margin: 0 auto;
}
@media (min-width: 991px) {
  .query-builder-page .content {
    padding: 15px 0;
  }
}
.query-builder-page .content .content-env-sec {
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  background-color: #fff;
  padding: 40px 0;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .query-builder-page .content .content-env-sec {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .query-builder-page .content .content-env-sec .styled-select {
    width: 100%;
    margin: 0 0 30px;
  }
}
.query-builder-page .content .content-env-sec .styled-select label {
  color: #009688;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .query-builder-page .content .content-env-sec .styled-select label {
    display: block;
  }
}
.query-builder-page .content .content-env-sec .styled-select .select2-container {
  min-width: auto;
  width: 100%;
}
@media (max-width: 767px) {
  .query-builder-page .content .content-env-sec .styled-select .select2-container {
    max-width: 250px;
  }
}
.query-builder-page .content .content-env-sec .styled-select .select2-container .select2-choice {
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  border: 1px solid #ccc;
  outline: 0;
}
.query-builder-page .content .content-env-sec .styled-select .select2-container .select2-choice .select2-chosen {
  width: 86%;
  text-align: left;
}
.query-builder-page .content .content-env-sec .styled-select .select2-container .select2-choice .select2-arrow b:before {
  content: "\f078";
  pointer-events: none;
}
.query-builder-page .content .content-env-sec .styled-select .select2-dropdown-open .select2-choice {
  border: 1px solid #009688;
  border-radius: 2px;
}
.query-builder-page .content .content-env-sec .styled-select .select2-dropdown-open .select2-choice .select2-arrow b:before {
  content: "\f077";
}
 > .query-builder-page .select2-choice.select2-chosen {
  width: 86%;
}
.query-builder-page .run-btn {
  margin: 10px auto 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.query-builder-page .run-btn button {
  font-weight: bold;
  background: rgba(24, 26, 27, 0.77);
  border: none;
  outline: none;
  font-size: 15px;
  padding: 7px 20px;
  color: #fff;
  text-transform: uppercase;
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 0 0;
}
.query-builder-page .run-btn button:hover {
  background: #e64b50;
}
.query-builder-page .qb-responsive {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}
.query-builder-page .qb-responsive .query-builder {
  max-width: 1024px;
  width: 100%;
  display: inline-block;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px 0;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group {
  width: auto;
  display: inline-block;
  margin: 0 25px 0 54px;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .select2-container .select2-choice {
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  border: 1px solid #ccc;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .select2-container.select2-dropdown-open .select2-choice {
  border: 1px solid #009688;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .qb-group-header .group-condition-select {
  width: 94px;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .qb-group-header .btn {
  margin: 0 0 0 15px;
  padding: 6px 15px;
  min-height: 34px;
  background: rgba(24, 26, 27, 0.77);
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .qb-group-header .btn:hover {
  background: rgba(24, 26, 27, 0.46);
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .qb-group-header .btn.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #d43f3a;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .qb-group-header .btn.btn-danger:hover {
  background-color: #d9534f;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group:before {
  top: 27px;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group:after {
  top: 27px;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .row-view-wrapper {
  display: block;
  padding: 10px;
  margin: 10px 0;
  position: relative;
  background-color: rgba(128, 222, 234, 0.3);
  border-radius: 4px;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .row-view-wrapper:before {
  top: -28px;
  left: -30px;
  height: 117.3%;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .row-view-wrapper:after {
  top: 47px;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .row-view-wrapper .qb-row .qb-row-inner .qb-column-wrap .qb-text-block {
  padding: 6px 9px;
  min-height: 34px;
  background: #fff;
  color: #333;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .row-view-wrapper .qb-row .qb-row-inner .qb-rule-wrap {
  min-width: 0;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .row-view-wrapper .qb-row .qb-row-inner .qb-input {
  padding: 6px 9px;
  min-height: 34px;
  background: #fff;
  font-size: 14px;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .row-view-wrapper .qb-row .qb-row-inner .qb-input.form-control:focus {
  border-color: #ccc;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .row-view-wrapper .qb-row .qb-row-inner .qb-btn-delete-row {
  position: absolute;
  top: -14px;
  right: -13px;
  padding: 6px 9px;
  color: #6e6c6c;
  z-index: 99;
  opacity: 1;
  border: none;
  outline: 0;
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .row-view-wrapper .qb-row .qb-row-inner .qb-btn-delete-row:hover {
  color: #3b3b3b;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .group-view-wrapper {
  width: 100%;
  background-color: rgba(128, 222, 234, 0.3);
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .group-view-wrapper .qb-group {
  width: auto;
  display: inline-block;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .group-view-wrapper .qb-group .qb-group-body .qb-row .qb-row-inner {
  position: relative;
  background-color: rgba(77, 182, 172, 0.2);
  padding: 10px;
  margin: 7px 0;
  border-radius: 4px;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .group-view-wrapper .qb-group .qb-group-body .qb-row .qb-row-inner .qb-rule-wrap {
  min-width: 0;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .group-view-wrapper .qb-group .qb-group-body .qb-row .qb-row-inner .qb-btn-delete-row {
  position: absolute;
  top: -5px;
  right: -4px;
  padding: 6px 9px;
  color: #6e6c6c;
  z-index: 99;
  opacity: 1;
  border: none;
  outline: 0;
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .group-view-wrapper .qb-group .qb-group-body .qb-row .qb-row-inner .qb-btn-delete-row:hover {
  color: #3b3b3b;
}
.query-builder-page .qb-responsive .query-builder .parent-group-view .parent-group .group-view-wrapper .qb-group .qb-group-body .qb-row .qb-row-inner .qb-input {
  height: 34px;
  line-height: 34px;
  padding: 6px 9px;
}
.query-builder-page .qb-responsive .query-builder .qb-row {
  padding: 5px 0 6px;
}
.query-builder-page .qb-responsive .query-builder .qb-row .qb-row-inner .qb-rule-wrap .qb-operand-wrap .input-group .qb-input {
  height: 34px;
  line-height: 34px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #333;
  z-index: 1;
}
.query-builder-page .qb-responsive .query-builder .qb-row .qb-row-inner .qb-rule-wrap .qb-operand-wrap .opd-date-input {
  width: 183px;
  height: 34px;
  line-height: 34px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.query-builder-page .qb-responsive .query-builder .qb-row .qb-row-inner .qb-rule-wrap .qb-operand-wrap .opd-options-input {
  width: 80px;
}
.query-builder-page .qb-responsive .query-builder .qb-text-block {
  padding: 6px 9px;
  min-height: 34px;
  background: #fff;
  color: #333;
}
.query-builder-page .query-builder .parent-group-view .parent-group .group-body:last-child > div.group-view-wrapper:last-child:before {
  height: 4.6em;
  top: -29px;
}
.query-builder-page .query-builder .group-view-wrapper:before {
  top: -29px;
  left: -31px;
}
.query-builder-page .query-builder .group-view-wrapper:after {
  width: 29px;
  left: -30px;
}
.query-builder-page .query-builder .qb-group:before {
  height: 105%;
}
.query-builder-page .query-builder .qb-group .qb-group-header:hover + .qb-group-body :after,
.query-builder-page .query-builder .qb-group .qb-group-header:hover + .qb-group-body :before {
  border-left-color: #ccc;
}
.query-builder-page .query-builder .qb-group .qb-group-header:hover + .qb-group-body .select2-container .select2-choice {
  border-color: #ccc;
}
.query-builder-page .query-builder .qb-group .qb-group-header:hover + .qb-group-body .select2-container .select2-choice .select2-arrow {
  border-left: 1px solid #ccc;
  background-color: #eee;
}
.query-builder-page .query-builder .qb-group .qb-group-header:hover + .qb-group-body :after,
.query-builder-page .query-builder .qb-group .qb-group-header:hover + .qb-group-body :before {
  border-left-color: #999;
  border-top-color: #999;
}
.query-builder-page .query-builder .qb-group .qb-group-header:hover + .qb-group-body .input-group .input-group-addon,
.query-builder-page .query-builder .qb-group .qb-group-header:hover + .qb-group-body .input-group .qb-input,
.query-builder-page .query-builder .qb-group .qb-group-header:hover + .qb-group-body .qb-input,
.query-builder-page .query-builder .qb-group .qb-group-header:hover + .qb-group-body .qb-text-block {
  border-color: #ccc !important;
}
.query-builder-page .query-builder .qb-group .qb-group-header:hover + .qb-group-body .input-group .input-group-addon,
.query-builder-page .query-builder .qb-group .qb-group-header:hover + .qb-group-body .qb-text-block {
  background-color: #eee;
}
.query-builder-page .loader-overlay .overlay {
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(211, 211, 211, 0.6);
  border-radius: 5px;
}
.query-builder-page .loader-overlay .overlay .overlay-content {
  position: absolute;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  color: #555;
}
.query-builder-page .loader-overlay .overlay .overlay-content #loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.query-builder-page .loader-overlay .overlay .overlay-content #loader-wrapper #loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
.query-builder-page .loader-overlay .overlay .overlay-content #loader-wrapper #loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
.query-builder-page .loader-overlay .overlay .overlay-content #loader-wrapper #loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
.select2-no-results:before {
  color: #EB665C;
}
.select2-drop-active {
  padding-top: 12px;
}
.select2-drop-active .select2-search {
  padding: 0 4px;
}
.select2-drop-active .select2-search:before {
  left: 12px;
}
.select2-drop-active .select2-search input {
  padding: 6px 7px 5px 23px;
}
.select2-drop-active .select2-results .select2-result-label {
  padding: 7px 5px !important;
}
.select2-drop-active .select2-results .select2-highlighted {
  background: #00838f !important;
}
.select2-drop-active .select2-results .select2-highlighted .select2-result-label {
  padding: 7px 5px !important;
}
/*Modal Box*/
.modal .modal-dialog .modal-content .modal-header {
  background: #00838f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal .modal-dialog .modal-content .modal-header .close {
  margin-top: -2px;
  color: #fff;
  z-index: 9999;
  opacity: 1;
}
.modal .modal-dialog .modal-content .modal-body {
  padding: 25px 14px;
}
.modal .modal-dialog .modal-content .modal-body .form-group {
  margin-bottom: 3px;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.modal .modal-dialog .modal-content .modal-body .form-group .modal-box .select2-dropdown-open .select2-choice {
  border: 1px solid #009688;
  border-radius: 2px;
  border-bottom: none;
}
.modal .modal-dialog .modal-content .modal-body .form-group .control-label {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-right: 15px;
  line-height: 24px;
  color: #333;
}
.modal .modal-dialog .modal-content .modal-body p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.modal .modal-dialog .modal-content .modal-footer .button-wrap .btn-sm {
  padding: 5px 15px;
  font-size: 16px;
  background: rgba(24, 26, 27, 0.84);
  border: none;
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
}
.modal .modal-dialog .modal-content .modal-footer .button-wrap .btn-sm:hover {
  background: #e64b50;
}
.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 50%, 0) !important;
  -o-transform: translate3d(0, 50%, 0) !important;
  transform: translate3d(0, 50%, 0) !important;
}
/*Result and Response CSS*/
.result {
  color: #333;
  margin: 35px 0 0 0;
}
.result strong {
  margin: 0 0 7px 0;
  display: block;
}
.result .request {
  font-family: 'Roboto', sans-serif;
  margin: 0 0 20px 0;
}
.result .request > div {
  margin: 30px 0 0;
  word-wrap: break-word;
}
.result .request .rquest-url {
  /*.copied::after {
        position: absolute;
        top: 12%;
        right: 110%;
        display: block;
        content: "copied";
        font-size: 0.75em;
        padding: 2px 3px;
        color: #fff;
        background-color: #22a;
        border-radius: 3px;
        opacity: 0;
        will-change: opacity, transform;
        animation: showcopied 1.5s ease;
      }

      @keyframes showcopied {
        0% {
          opacity: 0;
          transform: translateX(100%);
        }
        70% {
          opacity: 1;
          transform: translateX(0);
        }
        100% {
          opacity: 0;
        }
      }*/
}
.result .request .rquest-url > div {
  background-color: rgba(128, 222, 234, 0.3);
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.result .request .rquest-url .url-query {
  float: left;
  line-height: 34px;
  margin: 0 1%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 94%;
}
@media (max-width: 815px) {
  .result .request .rquest-url .url-query {
    width: 93%;
  }
}
@media (max-width: 680px) {
  .result .request .rquest-url .url-query {
    width: 92%;
  }
}
@media (max-width: 540px) {
  .result .request .rquest-url .url-query {
    width: 90%;
  }
}
@media (max-width: 450px) {
  .result .request .rquest-url .url-query {
    width: 89%;
  }
}
@media (max-width: 350px) {
  .result .request .rquest-url .url-query {
    width: 87%;
  }
}
.result .request .rquest-url .btn {
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  box-sizing: border-box;
  float: right;
  padding: 6px 1%;
  width: 4%;
}
@media (max-width: 815px) {
  .result .request .rquest-url .btn {
    width: 5%;
  }
}
@media (max-width: 680px) {
  .result .request .rquest-url .btn {
    width: 6%;
  }
}
@media (max-width: 540px) {
  .result .request .rquest-url .btn {
    width: 7%;
  }
}
@media (max-width: 450px) {
  .result .request .rquest-url .btn {
    width: 8%;
  }
}
@media (max-width: 350px) {
  .result .request .rquest-url .btn {
    width: 10%;
  }
}
.result .response {
  font-family: 'Roboto', sans-serif;
  margin-top: 30px;
}
.result .response > div {
  margin: 30px 0;
  word-wrap: break-word;
}
.result pre {
  background-color: rgba(128, 222, 234, 0.3);
  max-height: 500px;
}
/*Date picker*/
#js-datepicker-wrap .bootstrap-datetimepicker-widget {
  margin-top: 5px;
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  background-color: rgba(128, 222, 234, 0.5);
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table th {
  color: #333;
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table td.day {
  color: #333;
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table td.day:hover {
  background-color: rgba(128, 222, 234, 0.3);
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table td.old {
  color: #777;
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table td.old:hover {
  background-color: rgba(128, 222, 234, 0.3);
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table td.new {
  color: #777;
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table td.new:hover {
  background-color: rgba(128, 222, 234, 0.3);
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table td.hour {
  color: #333;
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table td.hour:hover {
  background-color: rgba(128, 222, 234, 0.3);
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table td.minute {
  color: #333;
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table td.minute:hover {
  background-color: rgba(128, 222, 234, 0.3);
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table td.second {
  color: #333;
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table td.second:hover {
  background-color: rgba(128, 222, 234, 0.3);
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table td.today:before {
  border-bottom-color: #333;
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table td.active {
  background-color: rgba(77, 182, 172, 0.5);
  color: #333;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: rgba(128, 222, 234, 0.5);
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table td.active.today:before {
  border-bottom-color: #333;
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table td span {
  color: #333;
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table td span:hover {
  background-color: rgba(128, 222, 234, 0.5);
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget table td span.active {
  background-color: rgba(77, 182, 172, 0.5);
}
#js-datepicker-wrap .bootstrap-datetimepicker-widget button[data-action] {
  background-color: rgba(77, 182, 172, 0.5);
  color: #333;
  border: none;
}
