.wrapper {
  width: 900px;
  margin: auto;
}
#view {
  margin-top: 35px;
}
.stack {
  margin-top: 5px;
  font-size: 17px;
}
.fetch-button {
  margin-top: 25px;
}
.loader {
  position: relative;
  left: 50%;
  border: 10px solid #f3f3f3;
  /* Light grey */
  border-top: 10px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  z-index: 1000;
}
.submit-button {
  margin-left: 400px;
  margin-top: 15px;
}
.entries-query-builder {
  width: 250px;
  padding-top: 20px;
  padding-left: 32px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
::selection {
  background-color: #f5f5f5 !important;
  color: #4f6471 !important;
}
/**New Styles**/
.query-login-page {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (min-width: 1200px) {
  .query-login-page {
    width: 900px !important;
  }
}
@media (min-width: 992px) {
  .query-login-page {
    width: 900px !important;
  }
}
@media (min-width: 768px) {
  .query-login-page {
    width: 750px !important;
    padding: 0px !important;
  }
}
@media (max-width: 767px) {
  .query-login-page {
    width: 380px !important;
    padding: 0px !important;
  }
}
.query-login-page header .header h2 {
  margin-top: 0;
  color: #4f6471;
  font-size: 36px;
  line-height: 1;
}
.query-login-page .login-page {
  background-color: #edf1f2;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  border-radius: 5px;
}
.query-login-page .login-page .row-centered .col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
  margin-bottom: 30px;
}
.query-login-page .login-page .row-centered .col-centered:last-child {
  margin-bottom: 0;
}
.query-login-page .login-page .row-centered .col-centered label {
  color: #1894ca;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
.query-login-page .login-page .row-centered .col-centered .form-control {
  font-size: 14px;
  line-height: 16px;
  font-family: 'Open Sans', sans-serif;
  height: 45px;
  background-color: #fbfbfb;
}
.query-login-page .login-page .row-centered .col-centered .btn-success {
  width: 180px;
  height: 60px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 0px #07526e;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  cursor: pointer;
  border: none;
  background: #109bce;
  background-image: linear-gradient(bottom, #0e89b6 0%, #16b3ec 100%);
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #07526e, 0px 10px 5px #999;
}
.query-login-page .login-page .row-centered .col-centered .btn-success:active {
  top: 3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #07526e, 0px 5px 3px #999;
}
.query-login-page .login-page .row-centered .col-centered .btn-success:before {
  display: block;
  position: absolute;
  padding-top: 10px;
  top: 10px;
  text-shadow: 1px 1px 2px #07526e;
}
.query-login-page .login-page .row-centered .col-centered .btn-success:active:before {
  top: 7px;
  text-shadow: 0px 3px 0px #07526e, 0px 5px 1px #07526e;
}
/*Second page*/
.query-builder-page header .header h2 {
  color: #4f6471;
  font-size: 36px;
  line-height: 1;
}
.query-builder-page .stack-name {
  text-align: center;
  background-color: #edf1f2;
  overflow: auto;
  max-width: 350px;
  width: 100%;
  margin: 20px auto 0;
  padding: 20px;
  border-radius: 5px;
}
.query-builder-page .stack-name strong {
  color: #1894ca;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}
.query-builder-page .stack-name .stack {
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  word-wrap: break-word;
}
.query-builder-page .content {
  width: 750px !important;
  margin: 0 auto;
}
.query-builder-page .content .content-env-sec {
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  background-color: #edf1f2;
  padding: 40px 0;
  border-radius: 5px;
}
.query-builder-page .content .content-env-sec .styled-select {
  position: relative;
}
.query-builder-page .content .content-env-sec .styled-select label {
  color: #1894ca;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.query-builder-page .content .content-env-sec .styled-select .form-control {
  position: relative;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  height: 45px;
  border-radius: 2px !important;
  background-color: #fbfbfb;
  padding: 5px;
  line-height: 1;
  -webkit-appearance: none;
}
.query-builder-page .content .content-env-sec .styled-select .form-control:hover {
  background: #f5f6f7;
}
.query-builder-page .content .content-env-sec .styled-select .form-control option:hover {
  background-color: #fbfbfb;
}
.query-builder-page .content .content-env-sec .styled-select:before {
  content: "\f078";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #787981;
  font-size: 18px;
  position: absolute;
  top: 39px;
  right: 23px;
  line-height: 1;
  z-index: 1;
}
.query-builder-page .qb-responsive {
  width: 750px;
  margin: 0 auto;
}
.query-builder-page .run-btn {
  width: 750px;
  margin: 30px auto 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
